#acronym-table {
  width: 90%;
  margin: 0.625rem auto;
}
#acronym-table button, #acronym-table .button {
  margin: 0;
  padding: 0.250rem 1rem;
}
#acronym-table input {
  margin: 0;
}
#acronym-table a {
  letter-spacing: 0.375rem;
  font-weight: bold;
  float: right;
}

.alert-box {
  display: none; }
  .alert-box .close {
    opacity: 0.8;
    color: white; }

:link[href="#input-row"] {
  float: right;
  padding: .750rem 1rem;
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem; }
  .footer p.copyright {
    color: #8f9296;
    font-size: 0.750rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 1rem 0 2rem;
    margin: 0; }
    .footer .links a::after {
      content: "|";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }

.header {
  padding: 0.5rem;
  background: #292c2f; }
  .header h1 {
    text-align: center;
    color: white; }
